/* wrapper */
.wrapper, .wrap {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.page-wrapper, .p-wrap {
  position: relative;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px; }

/*======================================================== 
header 
==========================================================*/
/* business information across the top of header */
.business-info {
  background: #0386C9;
  padding: 5px; }
  .business-info a {
    color: #00A9FF; }
  .business-info .widget_text {
    color: white;
    float: right; }
  .business-info li {
    display: inline-block;
    margin-left: 20px;
    color: white; }

/* ==============================================================
logo
==================================================================== */
.logo {
  float: left;
  width: 150px;
  display: block;
  position: relative;
  padding: 10px; }
  .logo a:hover {
    color: black !important; }

.logo-img {
  margin: 0; }

/* ============================================================
nav 
================================================================*/
.nav {
  padding: 0;
  display: block;
  position: relative;
  z-index: 10;
  background: #00A9FF;
  border-bottom: solid 1px lightgrey; }
  .nav ul {
    margin: 0;
    padding: 0;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0; }
  .nav li {
    position: relative;
    display: inline-block;
    margin-left: -4px; }
    .nav li a {
      display: block;
      color: white;
      padding: 18px 30px;
      text-transform: uppercase;
      font-size: 14px;
      position: relative; }
  .nav a:hover {
    background: #0386C9; }
  .nav ul.sub-menu {
    display: none; }
    .nav ul.sub-menu a {
      padding: 10px;
      width: 300px; }

.nav ul li:hover > ul.sub-menu {
  display: block;
  z-index: 99;
  position: absolute;
  top: 30px;
  margin: 0px 0px 0px -16px;
  padding: 0px;
  border: 1px #808080 solid;
  background-color: #fff;
  width: 300px; }

.current_page_item a {
  color: black; }

/*=============================================================
banner
===============================================================*/
.banner-home {
  /* height: 420px; */
  background: url('./img/bkg-1.jpg');
  background-size: cover; }

/* ===============================================================
footer items
=================================================================== */
.footer-items {
  background: #e5e5e5;
  padding: 25px 0;
  border-top: solid 1px #F2F2F2;
  color: #525252; }
  .footer-items ul {
    padding-left: 0; }
  .footer-items .widget_nav_menu {
    width: 33.3%;
    float: left;
    border-right: solid 1px #c2c2c2;
    padding-left: 35px; }
    @media (max-width: 45em) {
      .footer-items .widget_nav_menu {
        float: none;
        width: 90%; } }
  .footer-items .widget_text {
    padding-left: 36px;
    width: 33.3%;
    float: left; }
    @media (max-width: 45em) {
      .footer-items .widget_text {
        float: none;
        width: 90%; } }

/*=============================================================== 
footer 
================================================================*/
footer {
  background: #0386C9;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 12px; }
  footer a {
    color: white; }

/* ==========================================================================
   =COLOR
   ========================================================================== */
.swatch {
  height: 5em; }

.color-1 {
  background: #0386C9; }

.color-2 {
  background: #00A9FF; }

.color-3 {
  background: #e5e5e5; }

.color-4 {
  background: #F7A710; }

.color-5 {
  background: #9370E9; }

.color-6 {
  background: #DDD5F8; }

/* ===========================================================================
  typography
  =========================================================================== */
.headline-1 {
  color: #00A9FF;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 53px; }

.title-1 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 42px; }

.title-2 {
  display: block;
  font: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 22px; }

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em; }

input, textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
  display: block;
  padding: 0.5em;
  margin-bottom: 0.75em;
  border: 0.1em solid #eee;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  resize: none; }

input:focus, textarea:focus {
  outline: none;
  border-color: #0386C9; }

input[type='button'], input[type='submit'], button, .button {
  border: none;
  background: transparent;
  line-height: 1;
  cursor: pointer;
  padding: 1em 1.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  margin-bottom: 0.75em;
  margin-bottom: 0.75rem; }

.btn-primary {
  color: white;
  background: #00A9FF; }

.btn-primary:hover {
  background: #00A9FF; }

.btn-primary:focus, .btn-primary:active {
  background: #00A9FF; }

.btn-secondary {
  color: white;
  background: #F7A710; }

.btn-secondary:hover {
  background: #F7A710; }

.btn-secondary:focus, .btn-secondary:active {
  background: #F7A710; }

.btn-tertiary {
  font-size: 0.875em;
  background: #e5e5e5; }

.btn-tertiary:hover {
  background: #e5e5e5; }

.btn-tertiary:focus, .btn-tertiary:active {
  background: #e5e5e5; }

/* ==========================================================================
   =ADJECTIVES
   ========================================================================== */
.ws-adjectives div {
  font-size: 1.5em;
  padding-bottom: 0.25em; }

/* ==========================================================================
   =COLOPHON
   ========================================================================== */
.colophon {
  clear: both;
  text-align: center;
  font-size: 0.875em;
  padding: 1.714em 0;
  border-top: thin solid #eee;
  margin-top: 1.714em; }

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding: 10px;
  background: lightgrey;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21); }
